.menu {
    z-index: 99;
    width: 106%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    overflow-x: hidden;
}

.menu--fixed {
    top: 0;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid transparent;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
}

.menu--footer {
    justify-content: center;
}

.menu-logo {
    text-align: center;
}

.menu-logo__link {
    color: black;
    font-weight: 500;
    font-size: 17px;
}

.menu-logo__link:hover {
    text-decoration: none;
    color: black;
}

.menu__items {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    list-style-type: none;
}

.menu-item__link {
    font-size: 19px;
    font-weight: 400;
}
